#head {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#header {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
#nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
#eachmenu {
  margin: 15px;
  font-size: x-large;
}
#eachmenu a {
  text-decoration: none;
  color: black;
}
.active {
  color: gray;
}
#content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#imgcontent {
  width: 70%;
  height: 70%;
}

#logo {
  height: 5.5rem;
}
