* {
  margin: 0;
  padding: 0;
}
.init {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}
#nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
#eachmenu {
  margin: 15px;
  font-size: x-large;
}
#eachmenu a {
  text-decoration: none;
  color: black;
}
.active {
  color: gray;
}
.outer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 60%;
  margin-left: 170px;
}
#item {
  align-items: center;
  justify-content: space-evenly;
}
.inner {
  position: absolute;
  width: 85%;
  height: 80%;
  padding-left: 40px;
  padding-top: 60px;
}
.outer-image {
  width: 100%;
  height: 100%;
}
.inner-image {
  margin: -35px;
}
.inner-image:hover {
  transform: scale(1.1);
}
#logo {
  height: 5.5rem;
}
.about {
  display: flex;
}
.footer {
  margin: 5px;
  text-align: center;
}
